.container
{
    display: flex;
    flex-direction: column;   
    flex: 1;
}

.container2
{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.container3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 10px;
}

.form
{
    position: fixed;
    bottom: 0px;
    padding: 20px;
    background-color: black;
    width: 100%;
}

.container4
{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.input
{
    width: 60%;
    padding: 10px;
}